* {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

ul img {
    padding-right: 5px;
    padding-top: 3px;
}

li {
    padding-bottom: 7px;
}

body {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    margin: 0;
}

.left-side-navigation {
    width: 250px;
    background-color: rgb(220, 220, 220);
    height: 100vh;
}

.left-side-header {
    display: grid;
    grid-template-columns: 160px repeat(2, 40px);
    grid-template-rows: 1fr;
    margin: 10px;
    height: 30px;
    padding-bottom: 10px;
}

.right-side-main-content {
    width: 100%;
}